
 body {
            background-color: blue;
            color: #fff;
            font-weight: bold;
            font-size: 19px;
            padding: 15px;
            margin-top: 90px;
            text-align: center;
        }
        
        #tole:before {
            content: "";
            border-left: 200px solid transparent;
            border-right: 200px solid transparent;
            border-bottom: 200px solid black;
            /* border-top: 200px solid white; */
        }
        
        #mur {
            margin-top: 150px;
        }
        
        #mur:before {
            content: "";
            border-left: 300px solid black;
            /* border-right: 200px solid transparent; */
            border-bottom: 150px solid black;
            /* border-top: 200px solid white; */
        }
        
        #porte {
            margin-top: 28px;
        }
        
        #porte:before {
            content: "";
            border-left: 70px solid darkblue;
            /* border-right: 200px solid transparent; */
            border-bottom: 100px solid darkblue;
            /* border-top: 200px solid white; */
        }
        
        #lune {
            position: absolute;
            top: 5%;
            right: 10%;
            height: 100px;
            width: 100px;
            box-shadow: 15px -15px 0px 5px orange;
            border-radius: 50%;
            transform: rotate(50deg);
        }
        
        #star-five {
            margin: 50px 0;
            position: relative;
            display: block;
            color: red;
            width: 0px;
            height: 0px;
            border-right: 100px solid transparent;
            border-bottom: 70px solid red;
            border-left: 100px solid transparent;
            transform: rotate(35deg);
        }
